<tr>
  <td><%= am.avail_date %></td>
  <td><%= am.length %></td>
  <td><%= am.site.site_num %></td>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td> <a href="<%= ENV['RESERVE_URL'] -%>/e/<%= Base62.encode(am.id) -%>" target="_blank">Reserve</a> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
