<style>
  .availHeader {
    color: #a3a3a3;
    font-weight: bold;
    font-size: 85%;
  }

  .availTable {
    width: 100%;
    margin-bottom: 12px;
  }

  .availTable > tr > td {
    font-size: 85%;
  }

  .link {
    color: #77b57a;
    text-decoration: none;
    line-height: 2;
    font-size: 108%;
    font-weight: bold;
    cursor: pointer;
  }
  .availTitle {
    font-weight: bold;
    font-size: 16px;
    Margin-bottom: 0px;
  }
</style>

<p>Hi there,</p>
<p>
  This confirms that we are now checking over and over in hopes of finding you a campsite at
  <%= @availability_request.facility.name -%> for <%= @availability_request.stay_length -%> nights sometime between
  <%= @availability_request.date_start -%> and <%= @availability_request.date_end -%>.
</p>

<h4>Review:</h4>
<p>
You can check in on this request using the link below. It will show the last time we checked for open campsites and how many times we have checked over all. In fact you can review all your different requests from this url. Bookmark it if you like.
</p>
<h3>
<a href='<%= ENV['RESERVE_URL'] -%>/<%= @availability_request.uuid -%>'><%= ENV['RESERVE_URL'] -%>/<%= @availability_request.uuid -%></a>
</h3>


<h4>No longer looking for a campsite?</h4>
<p>
We want to be as kind to Reserve America as possible, so please cancel this request if it is no longer needed.
</p>


<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="<%= ENV['RESERVE_URL'] -%>/c/<%= @availability_request.uuid -%>" target="_blank">Cancel this request</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div itemscope itemtype="http://schema.org/EmailMessage" >
  <meta itemprop="description" content="Check the status of your request" >
  <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction" >
    <link itemprop="url" href="<%= ENV['RESERVE_URL'] -%>/c/<%= @availability_request.uuid -%>" >
    <meta itemprop="name" content="Check Status" >
  </div>
  <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization" >
    <meta itemprop="name" content="WanderingLabs" >
    <link itemprop="url" href="https://reserve.wanderinglabs.com/" >
  </div>
</div>
